.content {
    margin-left: 90px;
    margin-right: 30px;
    transition: 0.3s;
    &.sidebarExpanded {
      margin-left: 225px;
    }
  }

  .cardData {
    border: none;
  }

.cardsRow {
    flex-direction: row;
    column-gap: 2rem;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .chartsRow {
        flex-direction: column;
        row-gap: 3rem;
    }
   }

   @media only screen and (max-width: 600px) {
    .cardsRow{
        flex-direction: column;
        row-gap: 3rem;    }

    .chartsRow {
        flex-direction: column;
        row-gap: 3rem;
    }
   }